# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test / coverage
coverage/
.nyc_output/

# Prisma
prisma/*.db

# Editor / OS
.idea/
.vscode/
.DS_Store

# Misc
*.tsbuildinfo
